html {
	background: #977AD4;
	color: #ffffff;
	text-align: center; 

}

body {
	
	font-family: 'Ubuntu Condensed', sans-serif;
}


h1 {
	font-family: 'Lobster', cursive;
	font-size: 2.2em;
	
}

#searchForm {
	font-size: 1.4em;
	background-color: #000000; 
	border:2px solid;
	border-color: #FFFFFF; 
	border-radius:25px;
	-moz-border-radius:25px; /* for firefox */
	width: 900px; 
	position: relative; 
	margin: auto; 
}

.area {
	margin: 50px auto auto auto;
	width: 100%;
	background-color: #000000; 
	border:0px solid;
	border-radius:25px;
	-moz-border-radius:25px; /* for firefox */
	

}



.search {
	margin: auto;
	width: 70%;
	
	

}

.tweets {
	margin: auto;
	width: 100%;
	background-color: #000000; 
	border:0px solid;
	border-radius:25px;
	-moz-border-radius:25px; /* for firefox */
}; 